<div class="uk-container">
  <nav class="uk-navbar uk-background-secondary with-bottom-border" uk-navbar="mode: click">
    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav themes">
        <li [class.uk-active]="activeItem==='home'"><a href=""  uk-icon="icon: home"></a></li>
        <li [class.uk-active]="activeItem==='portfolio'"><a href="/portfolio">Portfolio</a></li>
        <li [class.uk-active]="activeItem==='contact'"><a href="/contact">Nous contacter</a></li>
      </ul>
    </div>
  </nav>

  <div>
    <app-home *ngIf="activeItem==='home'"></app-home>
    <app-portfolio *ngIf="activeItem ==='portfolio'"></app-portfolio>
    <app-contact *ngIf="activeItem==='contact'"></app-contact>
  </div>

</div>
<div class="uk-container uk-bottom">
  <nav class="uk-navbar uk-background-secondary" uk-navbar="mode: click">
    <div class="uk-navbar-left">
      <span>Create by: Yves L.</span>
    </div>
    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav themes">
        <li class="facebook"><a uk-icon="icon: facebook"></a></li>
        <li class="twitter"><a uk-icon="icon: twitter"></a></li>
        <li class="linkedin"><a uk-icon="icon: linkedin" ></a></li>
      </ul>
    </div>
  </nav>
</div>
